<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=0" name="viewport">
    <title>Staff Dashboard</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.png}">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
          rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          referrerpolicy="no-referrer" rel="stylesheet"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/feather.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="main-wrapper">

    <div class="header">

        <div class="header-left">
            <a class="logo" th:href="@{/}">
                <img alt="Logo" th:src="@{/images/logo.png}">
            </a>
            <a class="logo logo-small" th:href="@{/}">
                <img alt="Logo" height="30" th:src="@{/images/logo-small.png}" width="30">
            </a>
        </div>
        <div class="menu-toggle">
            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-bars"></i>
            </a>
        </div>

        <div class="top-nav-search">
            <form>
                <input class="form-control" placeholder="Search here" type="text">
                <button class="btn" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <a class="mobile_btn" id="mobile_btn">
            <i class="fas fa-bars"></i>
        </a>

        <ul class="nav user-menu">
            <li class="nav-item zoom-screen me-2">
                <a class="nav-link header-nav-list win-maximize" href="#">
                    <img alt="" th:src="@{/images/header-icon-04.svg}">
                </a>
            </li>

            <li class="nav-item dropdown has-arrow new-user-menus">
                <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown" href="#">
                        <span class="user-img">
                            <img class="rounded-circle" th:src="@{/images/profile-icon.png}" width="31">
                            <div class="user-text">
                                <h6><span th:text="${user.name}"></span></h6>
                                <p class="text-muted mb-0">Admin</p>
                            </div>
                        </span>
                </a>
                <div class="dropdown-menu">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img class="avatar-img rounded-circle"
                                 th:src="@{/images/profile-icon.png}">
                        </div>
                        <div class="user-text">
                            <h6><span th:text="${user.name}"></span></h6>
                            <p class="text-muted mb-0">Admin</p>
                        </div>
                    </div>
                    <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                </div>
            </li>

        </ul>

    </div>


    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div class="sidebar-menu" id="sidebar-menu">
                <ul>
                    <li class="menu-title">
                        <span>Main Menu</span>
                    </li>
                    <li class="active">
                        <a th:href="@{/}"><i class="feather-grid"></i> <span> Staff Dashboard</span></a>
                    </li>
                    <li class="menu-title">
                        <span>Request System</span>
                    </li>
                    <li>
                        <a th:href="@{/staff/requests}"><i class="fas fa-clipboard"></i> <span> List Requests</span></a>
                    </li>
                    <li class="menu-title">
                        <span>Calendar</span>
                    </li>
                    <li>
                        <a th:href="@{/staff/calendar-requests}"><i class="fas fa-calendar"></i> <span> Calendar Requests</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="page-wrapper">
        <div class="content container-fluid">

            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-sub-header">
                            <h3 class="page-title">Welcome, <span th:text="${user.name}"></span>!</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/user/}">Home</a></li>
                                <li class="breadcrumb-item active">Staff</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xl-3 col-sm-6 col-12 d-flex">
                    <div class="card bg-comman w-100">
                        <div class="card-body">
                            <div class="db-widgets d-flex justify-content-between align-items-center">
                                <div class="db-info">
                                    <h6>Total All Requests</h6>
                                    <h3><span id="totalAllRequest" th:text="${totalAllRequest}"></span></h3>
                                </div>
                                <div class="db-icon">
                                    <img alt="Dashboard Icon" th:src="@{/images/dash-icon-01.svg}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 d-flex">
                    <div class="card bg-comman w-100">
                        <div class="card-body">
                            <div class="db-widgets d-flex justify-content-between align-items-center">
                                <div class="db-info">
                                    <h6>Total All Pending Requests</h6>
                                    <h3><span id="totalAllPendingRequest" th:text="${totalAllPendingRequest}"></span></h3>
                                </div>
                                <div class="db-icon">
                                    <img alt="Dashboard Icon" th:src="@{/images/dash-icon-02.svg}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 d-flex">
                    <div class="card bg-comman w-100">
                        <div class="card-body">
                            <div class="db-widgets d-flex justify-content-between align-items-center">
                                <div class="db-info">
                                    <h6>Total All Approved Requests</h6>
                                    <h3><span id="totalAllDisetujuiRequest" th:text="${totalAllDisetujuiRequest}"></span></h3>
                                </div>
                                <div class="db-icon">
                                    <img alt="Dashboard Icon" th:src="@{/images/dash-icon-03.svg}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 d-flex">
                    <div class="card bg-comman w-100">
                        <div class="card-body">
                            <div class="db-widgets d-flex justify-content-between align-items-center">
                                <div class="db-info">
                                    <h6>Total All Rejected Requests</h6>
                                    <h3><span id="totalAllDitolakRequest" th:text="${totalAllDitolakRequest}"></span></h3>
                                </div>
                                <div class="db-icon">
                                    <img alt="Dashboard Icon" th:src="@{/images/dash-icon-04.svg}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 d-flex">

                    <div class="card flex-fill student-space comman-shadow">
                        <div class="card-header d-flex align-items-center">
                            <h5 class="card-title">Recent Requests</h5>
                            <ul class="chart-list-out student-ellips">
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table star-student table-hover table-center table-borderless table-striped">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>Bentuk Request</th>
                                        <th class="text-center">Judul Request</th>
                                        <th class="text-center">Deadline</th>
                                        <th class="text-center">Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="request : ${top8Requests}">
                                        <td class="text-nowrap">
                                            <div th:text="${request.bentukRequest}"></div>
                                        </td>
                                        <td class="text-center" th:text="${request.judulRequest}"></td>
                                        <td class="text-center" th:text="${request.deadline}"></td>
                                        <td class="text-center">
                                            <span th:class="${(request.status == T(com.aditya.sirema.entity.Request$Status).Ditolak) ? 'badge bg-danger' : ((request.status == T(com.aditya.sirema.entity.Request$Status).Disetujui) ? 'badge bg-success' : 'badge bg-warning')}"
                                                  th:text="${request.status}">
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 d-flex">
                    <div class="card flex-fill comman-shadow">
                        <div class="card-header d-flex align-items-center">
                            <h5 class="card-title">Request Summary</h5>
                        </div>
                        <div class="card-body">
                            <div id="donut-chart"></div>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <p>Copyright © 2023 Aditya Widiyanto.</p>
            </footer>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/feather.min.js}"></script>
<script th:src="@{/js/jquery.slimscroll.min.js}"></script>
<script th:src="@{/js/apexcharts.min.js}"></script>
<script th:src="@{/js/summary.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>