<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=0" name="viewport">
    <title>Sirema - Requests Staff</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.png}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
          rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/feather.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/datatables.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="main-wrapper">
    <div class="header">
        <div class="header-left">
            <a class="logo" th:href="@{/}">
                <img alt="Logo" th:src="@{/images/logo.png}">
            </a>
            <a class="logo logo-small" th:href="@{/}">
                <img alt="Logo" height="30" th:src="@{/images/logo-small.png}" width="30">
            </a>
        </div>
        <div class="menu-toggle">
            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-bars"></i>
            </a>
        </div>
        <div class="top-nav-search">
            <form>
                <input class="form-control" placeholder="Search here" type="text">
                <button class="btn" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <a class="mobile_btn" id="mobile_btn">
            <i class="fas fa-bars"></i>
        </a>
        <ul class="nav user-menu">
            <li class="nav-item zoom-screen me-2">
                <a class="nav-link header-nav-list" href="#">
                    <img alt="" th:src="@{/images/header-icon-04.svg}">
                </a>
            </li>
            <li class="nav-item dropdown has-arrow new-user-menus">
                <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                     <span class="user-img">
                        <img class="rounded-circle" th:src="@{/images/profile-icon.png}" width="31">
                        <div class="user-text">
                           <h6><span th:text="${user.name}"></span></h6>
                           <p class="text-muted mb-0">Admin</p>
                        </div>
                     </span>
                </a>
                <div class="dropdown-menu">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img th:src="@{/images/profile-icon.png}"
                                 class="avatar-img rounded-circle">
                        </div>
                        <div class="user-text">
                            <h6><span th:text="${user.name}"></span></h6>
                            <p class="text-muted mb-0">Admin</p>
                        </div>
                    </div>
                    <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title">
                        <span>Main Menu</span>
                    </li>
                    <li>
                        <a th:href="@{/}"><i class="feather-grid"></i> <span> Staff Dashboard</span></a>
                    </li>
                    <li class="menu-title">
                        <span>Request System</span>
                    </li>
                    <li class="active">
                        <a th:href="@{/staff/requests}"><i class="fas fa-clipboard"></i> <span> List Requests</span></a>
                    </li>
                    <li class="menu-title">
                        <span>Calendar</span>
                    </li>
                    <li>
                        <a th:href="@{/staff/calendar-requests}"><i class="fas fa-calendar"></i> <span> Calendar Requests</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Requests</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/staff/requests}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Requests</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="student-group-form">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <input class="form-control" placeholder="Search by Nama Pengaju ..." type="text">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <input class="form-control" placeholder="Search by Bentuk Request ..." type="text">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <input class="form-control" placeholder="Search by Judul Request ..." type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table">
                        <div class="card-body">
                            <div class="page-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h3 class="page-title">Requests</h3>
                                    </div>
                                    <div class="col-auto text-end float-end ms-auto download-grp">
                                        <button class="btn btn-outline-primary me-2" onclick="exportTable()"><i class="fas fa-download"></i>
                                            Download</button>
                                    </div>
                                </div>
                            </div>
                            <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
                                <thead class="student-thread">
                                <tr>
                                    <th class="text-center">Nama Pengaju</th>
                                    <th class="text-center">Bentuk Request</th>
                                    <th class="text-center">Judul Request</th>
                                    <th class="text-center">Deadline</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-end">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="request : ${requests}">
                                    <td class="text-center" th:text="${request.namaPengaju}"></td>
                                    <td class="text-center" th:text="${request.bentukRequest}"></td>
                                    <td class="text-center" th:text="${request.judulRequest}"></td>
                                    <td class="text-center" th:text="${request.deadline}"></td>
                                    <td class="text-center">
                                        <span th:class="${(request.status == T(com.aditya.sirema.entity.Request$Status).Ditolak) ? 'badge bg-danger' : ((request.status == T(com.aditya.sirema.entity.Request$Status).Disetujui) ? 'badge bg-success' : 'badge bg-warning')}"
                                              th:text="${request.status}">
                                        </span>
                                    </td>
                                    <td class="text-end">
                                        <div class="actions" th:if="${request.status == T(com.aditya.sirema.entity.Request$Status).Pending}">
                                            <a class="btn btn-sm bg-danger-light" th:href="@{/staff/requests/view-request/{id}(id=${request.id})}">
                                                <i class="feather-eye"></i>
                                            </a>
                                        </div>
                                        <div class="actions" th:if="${request.status != T(com.aditya.sirema.entity.Request$Status).Pending}">
                                            <span th:if="${request.status == T(com.aditya.sirema.entity.Request$Status).Disetujui}">
                                                <a class="btn btn-sm bg-success rounded-circle">
                                                    <i class="feather-check" style="color: white;"></i>
                                                </a>
                                            </span>
                                            <span th:if="${request.status == T(com.aditya.sirema.entity.Request$Status).Ditolak}">
                                                <a class="btn btn-sm bg-danger rounded-circle">
                                                    <i class="feather-x" style="color: white;"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>Copyright © 2023 Aditya Widiyanto.</p>
        </footer>
    </div>
</div>
<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/feather.min.js}"></script>
<script th:src="@{/js/jquery.slimscroll.min.js}"></script>
<script th:src="@{/js/datatables.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/search-request-staff.js}"></script>
<script th:src="@{/js/request-export.js}"></script>
</body>
</html>